/* app/static/css/style.css */
body {
    background: url("https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630") no-repeat center center fixed;
    background-size: cover;
}

nav {
    background-color: #333;
    padding: 0.5rem;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 1rem;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 1rem;
}
footer {
    background: #f2f2f2;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
}
